.lfr-ddm-breadcrumb {
	padding-left: 0;
	padding-right: 0;
}

.lfr-ddm-nav-nested.nav {
	> li > a {
		margin-left: 20px;
		padding-left: 0;
	}

	.lfr-ddm-nav-element-radio {
		position: absolute;
		top: 10px;
	}
}

.portlet-journal {
	.article-content-description, .article-content-title {
		.input-localized-content {
			display: none;
		}
	}

	.journal-article-preview {
		padding: 0 20px;
	}
}